<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Web UI Kit &amp; Dashboard Template based on Bootstrap">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, web ui kit, dashboard template, admin template">

    <link rel="shortcut icon" th:href="@{/img/icons/icon-48x48.png}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body>
<div class="wrapper">
    <!--sidebar插入-->
    <div th:insert="~{admin :: sidebar}"></div>
    <div class="main">
        <!-- 头部插入-->
        <div th:insert="~{admin :: top}"></div>

        <main class="content">
            <div class="container-fluid p-0">

                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        <h3><strong>用户信息</strong></h3>
                    </div>

                    <div class="col-auto ml-auto text-right mt-n1">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                                <li class="breadcrumb-item"><a th:href="@{/user/toAddUser}">添加用户</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12">
                        <div class="card">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>用户ID</th>
                                    <th style="width:25%">邮箱</th>
                                    <th class="d-none d-md-table-cell" style="width:25%">姓名</th>
                                    <th>密码</th>
                                    <th>其它操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="blogUser : ${blogUsers}">
                                    <td id="user_id" th:text="${blogUser.getUser_id()}"></td>
                                    <td th:text="${blogUser.getUser_email()}"></td>
                                    <td th:text="${blogUser.getUser_name()}"></td>
                                    <td th:text="${blogUser.getUser_pwd()}"></td>
                                    <td>
                                        <a th:href="@{/user/toUpdateUser/}+${blogUser.getUser_id()}">
                                            <button th:text="修改" class="btn btn-success"></button>
                                        </a>
                                        <a th:href="@{/user/deleteUser/}+${blogUser.getUser_id()}">
                                            <button th:text="删除" class="btn btn-success"></button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <!--插入板底-->
        <!--div th:insert="~{index :: footer}"></div-->

    </div>

    <script th:src="@{/js/vendor.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</body>

</html>