<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/vue.min.js}"></script>
</head>
<body>

<ul class="layui-nav">
    <li class="layui-nav-item"><a href="">数据爬取</a></li>
    <li class="layui-nav-item layui-this">
        <a href="javascript:;">数据管理<span class="layui-nav-more"></span></a>
        <dl class="layui-nav-child">
            <dd><a href="">数据风格</a></dd>
            <dd><a href="">主题管理</a></dd>
            <dd><a href="">链接管理</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a th:href="@{/test}">后台管理</a></li>
</ul>


</body>
</html>