<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header class="header" th:fragment="header1">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Navbar Brand -->
            <div class="navbar-header d-flex align-items-center justify-content-between">
                <!-- Navbar Brand --><a href="index.html" class="navbar-brand">我的博客</a>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a th:href="@{/index}" class="nav-link active ">主页</a>
                    </li>
                    <li class="nav-item"><a th:href="@{/toBlog}" class="nav-link ">文章</a>
                    <li class="nav-item"><a th:href="@{/toSearch}" class="nav-link ">爬虫</a>
                </ul>
            </div>
        </div>
    </nav>
</header>
</html>